@page "/"
@namespace MayBeEssentials.Doc.Client

<MudContainer>
        <MudGrid>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    
                </div>
            </MudItem>
            <MudItem xs="12">
                <MudText Align="Align.Center" Typo="Typo.h5" Class="mt-4">MayBeEssentials components</MudText>
                <MudText Align="Align.Center" Typo="Typo.h5" >-mostly built upon MudBlazor</MudText>
            </MudItem>
            <MudItem xs="12">
                <MudText Align="Align.Center">
                    MayBeEssentials has the goal to be a toolbox when building complex applications such as office applications, SPA or administrative tools that typically was built in WPF, Silverlight, Web forms or Winforms.
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center mt-4">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Link="https://github.com/Ulf-Ason/MudBlazor.MayBeEssentials/branches" Target="_blank">GitHub</MudButton>
                </div>
            </MudItem>
            <MudItem xs="12">
                <MayBeEssentials.MudChipSet MultiSelection="true" Filter="true" TriStateSelection="true">
                    <MayBeEssentials.MudChip Text="Milk" Default="true"></MayBeEssentials.MudChip>
                    <MayBeEssentials.MudChip Text="Eggs" Icon="@Icons.Material.Filled.Dangerous"></MayBeEssentials.MudChip>
                </MayBeEssentials.MudChipSet>
</MudItem>
</MudGrid>
</MudContainer>
